@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--c-1: #f2f2f2;
	--c-2: #cccccc;
	--c-3: #a5a5a5;
	--c-4: #7f7f7f;
	--c-5: #595959;
}

html {
	background-color: var(--c-1);
	height: 100vh;
	width: 100vw;
}
