@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--c-1: #f2f2f2;
	--c-2: #cccccc;
	--c-3: #a5a5a5;
	--c-4: #7f7f7f;
	--c-5: #595959;

	--s-1: 4px;
	--s-2: 8px;
	--s-3: 12px;
	--s-4: 16px;
	--s-5: 20px;
}

body {
	background: var(--c-2);
	height: 100vh;
	width: 100vw;
}

.prose :is(h1) {
	font-size: 2.5rem;
}

.prose :is(h2) {
	font-size: 2rem;
}

.prose :is(h3) {
	font-size: 1.5rem;
}

.prose :is(h1, h2, h3, h4, h5, h6) {
	margin-top: var(--s-5);
	margin-bottom: var(--s-3);
}

.prose p:not(:is(h1, h2, h3, h4, h5, h6) + p) {
	margin-top: var(--s-4);
}

.prose :is(ul, ol) {
	list-style-type: '·';
	padding-left: var(--s-2);
}

.prose :is(ul, ol) li {
	margin-block: var(--s-1);
	padding-inline-start: var(--s-1);
}

.prose pre {
	max-inline-size: 100%;
	padding: var(--s-2);
	border-radius: 8px;
	tab-size: 2;
}
